:8128 {
    reverse_proxy * etydbackend:8127

    handle @staticpaths {
        root * /srv
        file_server
        respond /favicon.ico 200
        respond /robots.txt "Disallow: /"
    }

    @staticpaths {
        path /
        path /urlshortener.js
        path /index.css
        path /favicon.ico
        path /robots.txt
    }
}